.zindex-negative { z-index: -10; }
.dflex{ display: flex;}
.prel{position: relative;}
.pabs{position: absolute;}
.pfixed{position: fixed;}
.jcenter{justify-content: center;}
.aligncenter{align-items: center;}
.flexcol{flex-direction: column;}
.sbetween{justify-content: space-between;}

.h5{height: 5rem;}
.w5{width:5rem}
.w30{width: 20rem;}
.h30{ height: 30rem;}
.h100{height: 100vh;}
.w15{width: 15rem;}
.w100{width: 100%}
.wauto{width: auto;}

.fw700{font-weight: 700;}
.cfff{color: #fff;}
.s50{font-size: 50px;}
.s20{font-size: 20px;}
.b{font-weight: bold;}
.mbottom{margin-bottom: 1rem;}

.container{
    box-sizing: border-box;
    top: 10vh;
    left: 7vw;
    background: rgba(114, 106, 106, 0.575);
    padding: 4rem 4rem;
    width: 25rem !important;
    height: 35rem;
    overflow: hidden;
    border-radius: 1rem;
}
.imagerain{
    margin-right: 1.5rem;
    margin-left: 2.5rem;
}
.datetime{

}
.wdspd{
    padding: 7px 35px;
    border: 2px solid #333;
    border-radius: 1rem;
    background: #333;
}
.hmdty{
    padding: 7px 35px;
    border: 2px solid #333;
    border-radius: 1rem;
    background: #333;
}
.minicard{
    box-sizing: border-box;
    top: 15vh;
    left: 50vw;
    background: rgba(114, 106, 106, 0.575);
    padding: 1rem 1rem;
    width: 10rem !important;
    height: 10rem;
    border-radius: 1rem;
}

.image2{
    height: 3rem;
    width: 3rem;
    margin-left: 2rem;
}
.navbar{
    padding: 0.75rem;
    
}
.searchbar{
    border: none;
    outline: none;
    background: rgba(114, 106, 106, 0.575);
    color: #fff;
    padding: 8px 12px;
    border-radius: 1rem;
}
.searchbar input{
    background: rgba(53, 50, 50, 0.575);
    color: #fff;
}
.search{
    height: 3rem;
    width: 3rem;
    margin-right: auto;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 20px ;
    /* justify-content: center; */
}

